<div class="container-fluid">
        <div class="key">Key Features</div>
        <div class="row">
            <div class="col-xs-12 col-md-10 align-center">
                    <div class="row mt-4 tabs">
                            <div class="col-md-4 box-sty">
                            <div class="outer_layer">
                                <div class="tile_icon_layout">
                                        <img src="assets/images/technical security.png" alt="Company Logo" class="icon_img">
                                </div>
                                <div class="tile_icon_layout_hover">
                                    <img src="assets/images/technical security_hover.png" alt="Company Logo" class="icon_img">
                                </div>
                                <div class="tilel1">
                                    Technical Security
                                </div>
                                <p class="tilel2">
                                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus consequatur dolores
                                        repellat fugiat culpa officia. 
                                </p>
                                </div>
                            </div>
                            <div class="col-md-4 box-sty">
                                <div class="outer_layer">
                                    <div class="tile_icon_layout">
                                            <img src="assets/images/data security.png" alt="Company Logo" class="icon_img">
                                    </div>
                                    <div class="tile_icon_layout_hover">
                                        <img src="assets/images/data security_hover.png" alt="Company Logo" class="icon_img">
                                    </div>
                                    <div class="tilel1">
                                        Data Security
                                    </div>
                                    <p class="tilel2">
                                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus consequatur dolores
                                            repellat fugiat culpa officia. 
                                    </p>
                                </div>
                            </div>
                                <div class="col-md-4 box-sty">
                                        <div class="outer_layer">
                                        <div class="tile_icon_layout">
                                                <img src="assets/images/identity theft.png" alt="Company Logo" class="icon_img">
                                        </div>
                                        <div class="tile_icon_layout_hover">
                                            <img src="assets/images/identity theft_hover.png" alt="Company Logo" class="icon_img">
                                        </div>
                                        <div class="tilel1">
                                            Identity theft Prevention
                                        </div>
                                        <p class="tilel2">
                                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus consequatur dolores
                                                repellat fugiat culpa officia. 
                                        </p>
                                        </div>
                                    </div>
                    </div>
            </div> 
        </div>
    </div>