@import "../../../variable.scss";

.login-page-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
    background-image: url("/assets/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 15px;
  .log-wrapper {
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .log-box {
      height: 435px;
      background: $white;
      border-radius: 12px;
      .logo {
        h4 {
          font-family: "OpenSans-SemiBold";
          font-size: fontsize(fsize20);
          color: $knnavi;
        }
        span {
          font-family: "OpenSans-Regular";
          font-size: fontsize(fsize20);
          color: $knnavi;
        }
      }
      img.logo {
        height: 50px; 
      }
    }
  }
}
