<div class="container-fluid background">
        <div class="tile">
            <div>
                <div class="mouse_layout">
                        <img src="assets/images/mouse.png" alt="Company Logo" class="img_mouse"> 
                </div>
            </div>
                <img src="assets/images/cut.png" alt="Company Logo" class="img_responsive"> 
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-10 align-center">
                    <div class="sticky-top head-height">
                            <app-header></app-header>
                    </div>
                    <div class="scroll-router">
                            <div class="home-top position-relative">
                                    <div class="row">
                                
                                        <div class="col-md-6">
                                            <div class="header-sty">Designed by <br> Indian Engineers</div>
                                            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ducimus consequatur dolores
                                                repellat fugiat culpa officia nobis reprehenderit doloribus facilis, ratione repudiandae soluta autem
                                                praesentium quisquam. Earum saepe illo molestiae aliquam!</p>
                                                <button class="button_view"> VIEW PRODUCTS</button>
                                        </div>
                                        <div class="col-md-6">
                                            <div>
                                                    <img src="assets/images/banner_illustration.png" alt="Company Logo" class="img-responsive">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                    </div> 
                    <div>
                    </div> 
            </div> 
        </div>
    </div>